/*.dropdown:hover .dropdown-menu {
   display: block;
}*/


/*
====
Grid styles
====
*/



.flex {
    display: flex;
}

.padding {
    padding-left: 5vw;
    padding-right: 5vw;
}

body {
    height: 100vh;
}


/*
====
Header
====
*/
.navbar{
  height:10vh;
}

.navbar-right {
    font-size: 1em;
    padding: .50em;
}

.navbar-brand {
    box-sizing: border-box;
    padding: .50em;
    height: 20vh;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}



/*
====
Main body
====
*/

.jumbotron h1{
  text-align: center;
  color: #ffffff;
  margin:auto;
}

a, a:hover {
  text-decoration: none;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 20vh;
    padding:0;
}

.jumbotron.sub-page-size{
  height: 50vh;
  margin-bottom: 8vh;
}

hgroup{
  margin:auto;
}


/*
====
Standard Thumbnails
====
*/
.thumbnail{
  min-height: 30vh;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1000px){
    .thumbnail{
    min-height: 50vh;
    }
}

.thumbnail figure{
  height: 40%;
}

.thumbnail img{
  padding: 1em;
  border-radius: 1.5em;

}

.caption{
  height: 40%;
}

section.figures{
   margin-bottom: 5vh;
}



/*
====
Announcements and Events Posts
====
*/

.thumbnail.announcement {
  min-height: 55vh;
  flex-direction: column;
  justify-content: space-between;
}

.announcement img{
  width: 30vw;
  padding: 1em;
  border-radius: 1.5em;
}



.announcement.caption{
  min-height: 9em;
}

/*
====
Membership
====
*/


.membership div.flex{
  flex-direction: row;
  align-items: center;
}

.membership div a{
  margin:auto;
}


/*
====
Officers
====
*/

.officers .thumbnail h2{
  margin-bottom: 0;
  padding-bottom: 0;
}

.officers .thumbnail h3{
  margin-top: 0.15em;
  padding-bottom: 0;
}

.officers .thumbnail hgroup{
  height: 20%;
  margin-bottom: 0;
  margin-top:0;
}


.officers .thumbnail img{
  height: 40%;
}


.officers .column{
  margin-bottom: 3em;
}

.officers div.flex{
  flex-wrap: wrap;
  justify-content: center;
}

section.container-fluid.figures.officers{
  width:90%;
}

.officers div.thumbnail.flex{
  flex-direction: column;
  justify-content:flex-start;
  height: 40vh;
}

@media screen and (min-width: 1000px){
    .officers div.thumbnail.flex{
    min-height: 80vh;
    }
}

.officers .thumbnail .caption {
  height: 35%;
}


.officers .thumbnail p{
  height:80%;
  overflow: scroll;
}

/*
====
Footer
====
*/

footer, .footer{
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer{
 justify-content: space-around;
 align-items: center;
 color: #ffffff;

}
