/*.dropdown:hover .dropdown-menu {
   display: block;
}*/


/*
====
Grid styles
====
*/


/**, *:before, *:after {*/


/*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;*/


/*max-width: 100%;
  max-height: 100%; }*/

.flex {
    display: flex;
}

.padding {
    padding-left: 7em;
    padding-right: 7em;
}

body {
    height: 100vh;
    /*background-color: #317eac;*/
}


/*
====
Typography
====
*/


/*
====
Buttons
====
*/


/*
====
Links
====
*/


/*
====
Navigation
====
*/


/*
====
Images
*/


/*
====
Header
====
*/
.navbar{
  height:5em;
}

.navbar-right {
    font-size: 1em;
    padding: .50em;
}

.navbar-brand {
    box-sizing: border-box;
    padding: .50em;
    height: 8em;
}

.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}

.shrink {
    height: 7em;
    font-size: 1em;
}


/*
====
Main body
====
*/

main {
    /*margin-top: 13em;*/
}

.jumbotron .events {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom:0;
}



.jumbotron h1{
  text-align: center;
  color: #ffffff;
  margin:auto;
}

div.events h3, div.events p {
    background-color: #033c73;
    border-radius: 0.25em;
    color: white;
    padding: 0.25em;
    text-align: center;

}

.hover {
  color: #ffffff !important;
  background-color: #022f5a !important;
}

a, a:hover {
  text-decoration: none;
}

.jumbotron {
    background-image: url("https://s3-us-west-2.amazonaws.com/rmgc-web-images/Template+Images/the-swamp-dark.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 10%;
    padding:0;
}

hgroup{
  margin:auto;
}

.thumbnail{
  min-height: 55vh;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail img{
  max-height: 250px;
  padding: 1em;
  border-radius: 1.5em;

}

.caption{
  min-height: 9em;

}

section.figures{
   margin-bottom: 3%;
}


/*
====
Footer
====
*/

footer, .footer{
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer{
 justify-content: space-around;
 align-items: center;
 color: #ffffff;

}
